@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";




/* Navbar Animation Border Bottom Reflect <- Website Load <- One time Border Reflect */
.nav-bottom-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  transform-origin: center;
  transform: scaleX(0);
  background: #e5287b;
  background-size: 200% 100%;
  z-index: 60;
  
}


.nav-bottom-line.start {
  /* animation: navExpand 1500ms cubic-bezier(0.25, 1, 0.5, 1) forwards ; */
  animation: navExpand 2000ms ease-in-out forwards ;
}

@keyframes navExpand {
  0%   { transform: scaleX(0); background-position: 0% 50%; }
  100% { transform: scaleX(1); background-position: 100% 50%; }
}


@keyframes floatY {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out; 
  }
  50% {
    transform: translateY(-14px);
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1); 
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes floatYReverse {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(10px);
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1); 
  }
  100% {
    transform: translateY(0);
  }
}

